@{
    ViewData["Title"] = "About Watts CRM";
}
@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@
<div class="about-background">
    <aside class="asside-left">
        <p class="media-heading">About Us</p>
        <br />
        <a href="">Why Watts CRM?</a>
        <br />
        <a href="">Analyst Reports</a>
        <br />
        <a href="">Legal</a>
        <br />
        <a href="">Privacy Policy</a>
        <br />
        <a href="">Our Mission</a>
        <br />
        <a href="">Our Pledge</a>
        <br />
        <a href="">Careers</a>
        <br />
    </aside>

    <section class="session-block">
        <p class="media">Watts CRM was introduced in 1997 by Watts Consulting Group. </p>

        <p>Watts CRM was selected in top 10 among all CRM systems - Forbes</p>

        <p>Our goal is to provide you with complete satisfaction. We guarantee that you won't disappointed.</p>

        <ul></ul>

    </section>

</div>