@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    801 Cherry Street<br />
    Fort Worth, TX 76102<br />
    <abbr title="Phone">P:</abbr>
    817-555-5282
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@wattscrm.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@wattscrm.com</a>
</address>
